.eleminate-container {
	position: relative;
	background: #fff;
	display: inline-block;
	overflow: hidden;
	left: 10px;
}

.eleminate-element {
	// transition: all 300ms ease-out;
	position: absolute;
	cursor: pointer;
	border: 1px solid #fff;
	text-align: center;
}

.eliminate-grid {
	pointer-events: none;
}

.eliminate-cell {
	position: absolute;
	border-style: solid;
	border-color: #333;
}