@value variables: "./variables.css";
@value blue, red, green, white from variables;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:global(.hidden) {
	display: none;
}

:global(body) {
	background: white;
	-moz-user-select:none;
    -webkit-user-select:none;
    user-select:none; 
}

.page {
	position: absolute;
	width: 100%;
	background: white;
}

.page h2 {
	margin-bottom: 10px;
}