@import url('./button.less');
@import url('./animation.less');
@import url('./element.less');

.hidden {
	display: none;
}

body {
	background: #fff;
}

.ui-page {
	position: absolute;
	width: 100%;
	background: #fff;
}